*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 50px 200px;
    border: 1px solid black;
    display: flex;
    height: 500px;
}
.left{
    width: 35%;
    border-right: 1px solid black;
}
.p{
    font-size: 20px;
    padding: 10px;
    text-align: center;
    background-color: darkorange;
}
.left ul{
    list-style: none;
}
.left ul li{
    padding: 10px;
    background: lavender;
    border-bottom: 1px solid darkgray;
    display: flex;
    justify-content: space-between;
}
.close{
    cursor: pointer;
}
.right{
    width: 65%;
}
.foodWrap{
    margin: 10px auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.food{
    border: 1px solid darksalmon;
    text-decoration: none;
    position: relative;
}
.food:hover{
    opacity: .9;
}
/* .food:hover .addChart{
    opacity: 1;
}
.addChart{
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: 0;
} */
.food p{
    background: brown;
    color: white;
    padding: 3px;
}
.food p span{
    font-size: 14px;
}
.imgFood{
    width: 60px;
    padding: 5px 8px;
}